.nav{
    padding-top: 10px;
    padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 0px;
}
.logo{
    font-size: 1rem;
    margin-right: 250px;
    padding-top: 1%;
}
.nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;   
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.nav ul li a:hover{
    outline: 5px;
    color:#054f7d;
    border-color: #fff #fff #054f7d #fff;
    border-style: solid;
    border-width: 5px;
}

.activeNav{
    outline: 5px;
    color:#054f7d;
    border-color: #fff #fff #054f7d #fff;
    border-style: solid;
    border-width: 5px;
}


.content img{
    margin-top: 10px;
    
}
.contentImage{
    width:100%;
    height:300px;
}

.detail{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    
}

.userInput{
    margin-top: 5%;
    margin-bottom: 5%;
}
.userInput select{
    margin-top: 5%;
    width: 400px;
    padding: 2%;
    border-width: 1px;
    border-color:  rgb(164, 167, 165);
}
.userInput input{
    margin-top: 5%;
    width: 400px;
    padding: 2%;
    border-width: 1px;
    border-color:  rgb(164, 167, 165);
}
.userInput textarea{
    margin-top: 5%;
    width: 400px;
}
.submit input{
    background-color: brown;
    color: #fff;
    padding: 2%;
}
.gmail{
    
    color: #fff;
}
.location{
  
    color: #fff;
}
.fb{
   
    color: #fff;
}
.twitter{
    
    color: #fff;
}
footer{	
    display:flex;
    justify-content:space-between;
    align-items:center;
	padding:2%;
	background-color:#323232;
	color:#fff;
	padding: 10px;
    padding-left: 7%;
    padding-right: 5%;

    }

	.socialMedia{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:25px;
    padding: 10px;
    padding-left: 7%;
    padding-right: 5%;
}

@media only screen and (min-width: 750px){
    .nav{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 10px;
        padding-left: 7%;
        padding-right: 5%;
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    .nav ul{
        justify-content:space-between;
        width: 30%;
    }
    .content{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap; 
        background-color:rgb(248, 248, 248);
        z-index: -5;
        gap:100px;
        padding-bottom: 1%;
    }
    .content img{
        /* margin-top: 70px; */
        margin-bottom: 5px;
        
    }
    .contentImage{
        width:50%;
        height:500px;
    }

    .detail{
        width:30%;
    }

    .vision{
        color: #054f7d; 
		
    }

    .mission{
        color: #054f7d;
    }

    .formContent{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin-bottom: 5%;
        border-radius: .5rem;
        padding: 5%;
    }
	footer{	
        display:flex;
        justify-content:space-between;
        align-items:center;
	    padding:2%;
	    background-color:#323232;
	    color:#fff;
	    padding: 10px;
        padding-left: 7%;
        padding-right: 5%;		
	}
	.socialMedia{
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:25px;
        padding: 10px;
        padding-left: 7%;
        padding-right: 5%;
    }

    .gmail{
        color: #fff;
    }

    .location{
        color: #fff;
    }

    .fb{
        color: #fff;
    }

    .twitter{
        color: #fff;
    }

}
